/* variable declarations */
:root {
    --heading-font: Georgia, 'Times New Roman', serif;
    }
/* end variable declarations */

body {
    margin: 0 auto;
}

h1 {
    font: bold 54px var(--heading-font);
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}